<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="dogshow.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dogshow.Perspective"
            name="RCP Perspective"
            id="DogSHow.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="dogshow.DogShowEntry"
            id="DogSHow.DogShowEntry"
            name="DogShowEntry"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="DogSHow.DogShowEntry"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="label">
            <menu
                  label="window">
               <command
                     commandId="org.eclipse.ui.views.showView"
                     label="Show view"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
